body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
}
div.photo-feed {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 20vh;
    left: 0;
    background-color: #fafafa;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 1200px) {
    div.photo-feed {
        padding: 0 15%;
    }
}

div.photo-feed ul.cards {
    display: flex;
    list-style: none;
    padding: 0px;
    flex-direction: column;
}
