div.photo-feed {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 80px;
    left: 0;
    background-color: #fafafa;
    overflow-y: scroll;
    padding: 0 15%;
}

div.photo-feed ul.cards {
    display: flex;
    list-style: none;
    padding: 0px;
    flex-direction: column;
}