.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #ffffff;
    padding: 0 15%;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-image: url(/logo.png);
    background-size: cover;
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.6);
}