.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 80px;
    height: 100px;
    background-color: #ffffff;
    padding: 0 15%;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-image: url(http://localhost:8080/logo.png);
    background-size: 45% 100%;
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.6);
}